p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}
.Video-tittle{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 10px;
}

.Video-stats{
    font-size: 14px;
    color: rgb(96,96,96);
    margin-bottom: 20px;
}

.Video-author{
    font-size: 14px;
    color: rgb(96,96,96);
    margin-bottom: 20px;
}

.Video-description{
    font-size: 14px;
    color: rgb(96,96,96);
    margin-bottom: 100px;
    width: 280px;
    line-height: 22px;
}

.appletext{
    font-size: 14px;
    color: white;
    background-color: rgb(185, 46, 46);
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
}

.shoplink:hover{
    text-decoration: underline;
    cursor: pointer;
}
